body {
  font-family: "Hind Siliguri", sans-serif;
  margin: 0px;
  padding: 0px;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
}
.half-width img {
  width: 100%;
}
.half-width p {
  font-size: 18px;
  font-weight: 600;
}
.orange-text {
  color: orange;
}
h1 {
  font-size: 50px;
  height: 8%;
}
.anchor-tag {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  font-weight: 700;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px tomato;
  font-size: 18px;
}
.about-me-background {
  background-image: url(images/middle-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.recipe-area {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 100px;
}
.recipe-area h1 {
  height: 30px;
  font-size: 40px;
  text-align: center;
}
.recipe-area p {
  text-align: center;
  font-weight: 600;
  height: 75px;
}
.quarter-width {
  width: 30%;
  border: 15px solid #fff;
  box-shadow: 0px 0px 20px 0px grey;
  border-radius: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.quarter-width img {
  width: 100%;
  border-radius: 20px;
}
.quarter-width h3 {
  height: 20px;
}
.quarter-width p {
  text-align: left;
  font-weight: normal;
}
.counter-area {
  border: 10px solid #fff;
  box-shadow: 0px 0px 20px 0px grey;
  border-radius: 15px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 100px;
}
.counter-area-quarter {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}
.counter-area-quarter h1 {
  font-size: 40px;
  height: 20px;
}
footer {
  background-color: #0b0d17;
  color: #fff;
  text-align: center;
  padding: 10px 0 50px 0;
}
footer h1 {
  font-size: 30px;
  height: 25px;
}
